<div *ngIf="cv">
  <div class="card p-2">
    <div class="card-body text-center">
      <img
        width="190px"
        height="190px"
        [src]="photoURL"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body d-flex justify-content-evenly">
      <div class="text-end">
        <h5>Firstname:</h5>
        <h5>Lastname:</h5>
        <h5>Email:</h5>
        <h5>Phone:</h5>
        <h5>Job:</h5>
      </div>
      <div class="text-start">
        <h5>{{ cv.firstname }}</h5>
        <h5>{{ cv.lastname }}</h5>
        <h5>{{ cv.email }}</h5>
        <h5>{{ cv!.phone || "Not given" }}</h5>
        <h5>{{ cv.job }}</h5>
      </div>
    </div>
    <div class="button-group d-flex justify-content-evenly">
      <a routerLink="/cvs/edit/{{ cv.id }}" class="btn btn-primary w-25">
        Edit
      </a>
      <form class="btn btn-danger w-25" (submit)="delete(cv.id)">Delete</form>
    </div>
  </div>
</div>
